<a href="https://colab.research.google.com/github/cedricguilmin/datamining/blob/main/00_Python_discovery_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Let's discover the basics of Python

## Number and math operations

In [ ]:
# You can add two numbers 
8+90

98

In [ ]:
# you can multiply 2 number and then add to the result 10
8*2+10

26

In [ ]:
# How do you proceed if you want that operation 2 + 10 is executed first
# YOUR SOLUTION
8*(2+10)

96

In [ ]:
# You can also apply exponent to a number
# YOUR SOLUTION
8**2

64

In [ ]:
100-(9*11)

1

In [ ]:
# of course, you can also divide 2 numbers
13/4

3.25

In [ ]:

# how do you keep only interger part of a division
# YOUR SOLUTION
13//4

3

In [ ]:
int(3.999999999999999999999999999999999999999999999999999999999999)

4

In [ ]:
# How do you compute 13 modulo 4?
# YOUR SOLUTION
13%4

1

In [ ]:
# you can create a object holding a specific value
number = 8
print(number)

8

In [ ]:
# you can obtain the type of object
type(number)

int

In [ ]:
# if you have a number with decimals, what is the type in Python?
# YOUR SOLUTION
number_with_decimals = 10/3
type(number_with_decimals)

float

In [ ]:
type(10)

float

In [ ]:
# if you sum an integer with a number with decimals, what kind of variable do you have ?
# YOUR SOLUTION
add_2_variables = number + number_with_decimals
add_2_variables

11.333333333333334

In [ ]:
type(add_2_variables)

float

In [ ]:
add_2_variables*2

22.666666666666668

In [ ]:
# Incremental number
increment = 0

In [ ]:
print(increment)

0

In [ ]:
# how do you increment a number (there are 2 ways of doing it)
# Run this cell 4 times and then inspect value of increment
# YOUR SOLUTION
increment += 1

In [ ]:
print(increment)

5

In [ ]:
# How would you do if you don't know this trick about incrementing a numeric variable by 1 ?
increment = increment + 1

In [ ]:
num = 100
denom = 25
mult = 10e8
num_ = (num * mult) - 1
denom_ = (denom * mult)

In [ ]:
num_ // denom_

3.0

In [ ]:
int(num_ / denom_)

3

## Strings

In [ ]:
course_name = 'Data mining'

In [ ]:
print(course_name)

Data mining

In [ ]:
# what is the object type?
# YOUR SOLUTION
type(course_name)

str

In [ ]:
year = " 2022-2023"
# Try putting together course_name and year
# YOUR SOLUTION
course_name_year = course_name + year
print(course_name_year)

Data mining 2022-2023

In [ ]:
# Try to do an addition between a str and a int for instance
# YOUR SOLUTION
course_name + 8

TypeError: ignored

In [ ]:
# Try to solve the error just above
# YOUR SOLUTION
course_name + str(8)

'Data mining8'

In [ ]:
# Nice trick for repeating the same string
3 * course_name

'Data miningData miningData mining'

In [ ]:
3 * (' '+ course_name + ' ')

' Data mining  Data mining  Data mining '

In [ ]:
# How many character are there in course_name?
# YOUR SOLUTION
len(course_name)

11

In [ ]:
# Extract first letter of object course_name
# YOUR SOLUTION
course_name[0]

'D'

In [ ]:
# Extract second letter of object course_name
# YOUR SOLUTION
course_name[1]

'a'

In [ ]:
# Extract third letter of object course_name
# YOUR SOLUTION
course_name[2]

't'

In [ ]:
# Extract last letter of object course_name
# YOUR SOLUTION
course_name[-1]

'g'

In [ ]:
# Extract second letter from the end of object course_name
# YOUR SOLUTION
course_name[-2]

'n'

In [ ]:
# Extract first 3 characters of object course_name
# YOUR SOLUTION
course_name[0:3]

'Dat'

In [ ]:
# Extract first 4 characters of object course_name
# YOUR SOLUTION
course_name[0:4]

'Data'

In [ ]:
# Extract from character 6 to character 9 included of object course_name
# YOUR SOLUTION
course_name[5:10]

'minin'

In [ ]:
# Put object course name in uppercase
# YOUR SOLUTION
course_name.upper()

In [ ]:
course_name

'Data mining'

In [ ]:
# Test if the course_name in upper case is in lower case
# YOUR SOLUTION
course_name.upper().islower()

False

In [ ]:
# Test if the course_name in lower case is in lower case
# YOUR SOLUTION
course_name.lower().islower()

True

In [ ]:
# Invert the case of letter: the upper case letters become lower case and lower case letters become upper case.
# YOUR SOLUTION
course_name.swapcase()

'dATA MINING'

In [ ]:
# Useful fonction to list all methods you can apply to an object
dir(course_name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# discover a new function
??course_name.isalpha

In [ ]:
course_name.isalpha()

False

In [ ]:
# Make a modification to course_name such that course_name.isalpha() become True
# YOUR SOLUTION
course_name_nospace = course_name.replace(" ", "")
course_name_nospace.isalpha()

True

## List

In [ ]:
my_shopping_list = ['2 bottles of milk', '1 bottle of wine', '500g of Gouda']

In [ ]:
print(my_shopping_list)

['2 bottles of milk', '1 bottle of wine', '500g of Gouda']

In [ ]:
# How many items are there in my_shopping_list?
# YOUR SOLUTION
len(my_shopping_list)

3

In [ ]:
# How can you access the first element of my_shopping_list? Think about the way we did it for string ...
# YOUR SOLUTION
type(my_shopping_list[0])

str

In [ ]:
your_shopping_list = ["6 Jupiler", "1 bottle of milk"]

In [ ]:
# Show the content of your_shopping_list
# YOUR SOLUTION

In [ ]:
# how do you put together the 2 lists to have only 1 list. Call this new object full_shopping_list
# YOUR SOLUTION
full_shopping_list = my_shopping_list + your_shopping_list

In [ ]:
# Show the content of full_shopping_list
# YOUR SOLUTION
print(full_shopping_list)

['2 bottles of milk', '1 bottle of wine', '500g of Gouda', '6 Jupiler', '1 bottle of milk']

In [ ]:
# How many items are there in full_shopping_list ?
# YOUR SOLUTION
len(full_shopping_list)

5

In [ ]:
dir(my_shopping_list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# add 'ice cream' into full_shopping_list
# YOUR SOLUTION
full_shopping_list.append("ice cream")

In [ ]:
full_shopping_list

['2 bottles of milk',
 '1 bottle of wine',
 '500g of Gouda',
 '6 Jupiler',
 '1 bottle of milk',
 'ice cream']

In [ ]:
# verify that you have added 'ice cream' into your full_shopping_list
# YOUR SOLUTION
full_shopping_list.index("ice cream")

5

In [ ]:
# create list of 50 elements, each element being None
# YOUR SOLUTION
fifty_nones = [None] * 50
fifty_nones

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

## Dictionary
You can read 

*   introduction of section 3.4
*   section 3.4.1, 3.4.2 and 3.4.3

on this website https://egallic.fr/Enseignement/Python/structures.html#type-dict

After having read this, create an interesting usage for a dictionnary. Create a dictionnary, extract one value based on its key, check if a key is in your dictionnary

## Boolean

In [ ]:
True

True

In [ ]:
# What is the opposite of True?
False

(False, False)

In [ ]:
not(True)

False

In [ ]:
# Do you think that True equals False? ?
# YOUR SOLUTION
True == False

False

In [ ]:
True == True

True

In [ ]:
boolean_true = True

In [ ]:
# Can you find the type of boolean_true ?
type(boolean_true)

bool

In [ ]:
# can you do maths vith True or False? Test addition, substraction, multiplication, ...
boolean_true * 8, 10 - boolean_true

(8, 9)

In [ ]:
# can you verify if 8 is greater than 5 ?
8 > 5

True

## if logic

In [ ]:
condition = False

In [ ]:
# Discover if logic
if condition:
  print("condition is True")

In [ ]:
# What is the minimal change you can do to the previous code such that print function is executed
if not(condition):
  print("condition is True")
  a = 1

condition is True

In [ ]:
a

1

In [ ]:
# Discover if/else logic 
if condition:
  print("condition is True")
else:
  print("condition is False")

condition is False

In [ ]:
# another example
if 8 > 10:
  print("8 is bigger than 10")
else:
  print("8 is not bigger than 10")

8 is not bigger than 10

In [ ]:
# a third example
if 10 > 8:
  print("10 is bigger than 8")
else:
  print("10 is not bigger than 8")

10 is bigger than 8

In [ ]:
# build 'if ... else logic' where there are two conditions to meet       10 > 8 and 8 < 9
if 10 > 8 and 8 < 9:
  print("Condition is True")
else:
  print("Condition is False")

Condition is True

In [ ]:
# build 'if ... else logic' where there are two conditions to meet       5 > 8 OR 8 < 9
if 5 > 8 or 8 < 9:
  print("Condition is True")
else:
  print("Condition is False")

Condition is True

In [ ]:
# build if logic. print "Business Data Analyst time" when we are in timeslots of BDA
import datetime
import pytz
brusselsTz = pytz.timezone("Europe/Brussels") 
current_time = datetime.datetime.now(brusselsTz)
print(current_time)

2022-10-20 18:15:48.601920+02:00

In [ ]:
type(current_time)

datetime.datetime

In [ ]:
dir(current_time)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [1]:
# solution 1
if (((current_time.weekday() in [1, 3]) and current_time.hour >= 18 and current_time.hour < 21)\
or (current_time.weekday()==5 and ((current_time.hour >= 9 and current_time.hour <13  )\
                                    or (current_time.hour == 8 and current_time.minute >= 30)) ) ):
  print("Business Data Analyst time")

NameError: ignored

In [ ]:
??datetime.time

In [ ]:
# solution 2: nicer
current_weekday = current_time.weekday()
current_hms = current_time.time()
if (((current_weekday in [1, 3]) and current_hms >= datetime.time(18,0,0) and current_hms < datetime.time(21,0,0) )\
or (current_weekday==5 and current_hms >= datetime.time(8,30,0) and current_hms < datetime.time(13,0,0)) ):
  print("Business Data Analyst time")

In [ ]:
datetime.time(16,59,5) > datetime.time(17,55,5)

False

## loop (for, while)

In [ ]:
# Hhow can we print number from 0 to 10
print(0)
print(1)
print(2)
# boring and time consuming

0
1
2

In [ ]:
# let's create an object
??range

In [ ]:
from_0_to_9 = range(10)
from_0_to_9

range(0, 10)

In [ ]:
from_0_to_9[0]

0

In [ ]:
from_0_to_9[1]

1

In [ ]:
# discover the structure of a loop
# how do you print the value of i at each iteration
for i in from_0_to_9:
  # YOUR SOLUTION
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
??range

In [ ]:
# how would you do the same but starting from 10 and stopping at 0? 
# Hava e look at documentation of function range: ??range
# YOUR SOLUTION
number_second_left = range(10,-1,  -1)
for i in number_second_left:
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# Considering now this is a timer with the number of seconds left, is there a way to print a number every second
# do not hesitate to use google to find your solution
# YOUR SOLUTION
import time
number_second_left = range(10,-1,  -1)
for i in number_second_left:
  print(i)
  time.sleep(1)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# another solution
import time
numbers = reversed(range(11))
for i in numbers:
  print(i)
  time.sleep(1)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# Imagine you have inital amount of 10 000 on your savings account, 
# The annual interest rate is 4.8%
# as of end of year 1, you can put 2500 each year on you savings account. This amount is invested with the same interest rate
# after how many year do you have at least 50 000 on your savings account?
# YOUR SOLUTION

initial_amount = 10000
interest_rate = 0.048
target_amount = 50000
additional_amount = 2500

cumulated_amount = initial_amount
number_of_year = 0
while (cumulated_amount < target_amount):
  
  cumulated_amount = (cumulated_amount + ((number_of_year >= 1)*additional_amount) ) * (1+interest_rate)
  number_of_year += 1 
  print("Year ", str(number_of_year), cumulated_amount)
#print(number_of_year, cumulated_amount)

Year  1 10480.0
Year  2 13603.04
Year  3 16875.985920000003
Year  4 20306.033244160004
Year  5 23900.722839879683
Year  6 27667.95753619391
Year  7 31616.01949793122
Year  8 35753.58843383192
Year  9 40089.76067865585
Year  10 44634.069191231334
Year  11 49396.50451241044
Year  12 54387.53672900615

## Let's compute some descriptive statistics

In [ ]:
# Let's say we have a list of age, from that list, we want to compute minimum, maximum and average
# How would you do that? (for each statistics there are multiple ways of doing it)
age = [20,22,28,30,16,41,38,75,64,38]
# YOUR SOLUTION
min(age), max(age), sum(age)/len(age)

(16, 75, 37.2)

In [ ]:
from statistics import mean
mean(age)

37.2

In [ ]:
import numpy
numpy.mean(age)

37.2

## More content
If you want to go further regarding the basics of Python programming, you can consult the following ressources:


*   https://egallic.fr/Enseignement/Python/propos-liminaires.html
*   https://www.w3schools.com/python/
*   https://docs.python-guide.org/writing/style/
*   https://automatetheboringstuff.com/
*   ...